.about_us {
    color: #6B6054;
    padding-bottom: 3.1vw; /*40px*/
    padding-left: 3.1vw; /*40px*/
    padding-top: 4.7vw; /*60px*/
}

.about_us__title {
    font-size: 2.5vw; /*32px*/
    margin-bottom: 1.5vw; /*20px*/
}

.about_us__description {
    font-size: 1.5vw; /*20px*/
    margin-bottom: 1.5vw; /*20px*/
    margin-right: 3.1vw; /*40px*/
}

.about_us__work_templates_title {
    font-size: 2.5vw; /*32px*/
    margin-bottom: 1.5vw; /*20px*/
}

.about_us__work_templates_images_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    scrollbar-color: #6B6054 #E2DCD7;
    scrollbar-width: thin;
}

.about_us__work_templates_images_list_item {
    width: 15vw; /*285px*/
    height: 23vw; /*405px*/
    border-radius: 0.6vw; /*8px*/
    margin-right: 3.1vw; /*40px*/
}

@media (max-width: 768px) {
    .about_us {
        padding: 5.2vw;
        padding-top: 7.8vw;
    }

    .about_us__title {
        font-size: 4vw;
        margin-bottom: 2.6vw;
    }

    .about_us__description {
        font-size: 2.6vw;
        margin-bottom: 2.6vw;
    }

    .about_us__work_templates_title {
        font-size: 4vw;
        margin-bottom: 2.6vw;
    }

    .about_us__work_templates_images_list_item {
        width: 19.5vw;
        height: 27.5vw;
        margin-right: 2.6vw;
        border-radius: 2vw;
    }
}
